/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 80px 0;
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Header Search Bar
--------------------------------------------------------------*/

.search-bar {
    position: fixed;
    left: 17%;
    top: 10px;
    display: flex;
    max-height: 40px;
    min-height: 40px;
    width: 49vw;
    margin: 0 25px 0 3%;
    height: 30px;
    border: none;
    background: #1d3558;
    align-self: center;
  }
  
  #search-txt {
    flex: 1;
    height: 40px;
    width: 700px;
    background: #1d3558;
    border: none;
    font-family: Advent Pro;
    color: white;
    margin-left: 5px;
  }
  .search-bar input:focus {
    outline: none;
  }
  
  #searchbtn{
    margin-top: -1.5px;
    border: none;
    background: none;
    color: white;
    font-size: 30px;
  }
  
  i .fas fa-bars {
    color: red;
  }
  
  @media all and (max-width: 985px){
    .search-bar{
        margin: 0 25px 0 9%;
    }
    .nav-menu li a .bars {
    margin-left: 2%;
  }
  }
  
  @media all and (max-width: 489px){
      .search-bar{
      /* display: none; */
    }
    .nav-menu li a .bars {
    margin-left: 51%;
  }
    .search-bar{
    /* position: ; */
    margin: 0;
    width: 100%;
     top: 60px;
     left: -0px;
  
    }
  
    #searchbtn{
      /* position: absolute; */
  
    }
  }
  .searchOptionsMainContainer
  {
      position: absolute;
      left: 10%;
  }
  .searchOptions {
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 25vh;
    right: -73vw;
    
  }
  
  @media all and (max-width: 1139px){
    .searchOptions li a{
      font-size: 2.5vw;
    }
    .searchOptions ul span{
      font-size: 2.5vw;
    }
  }
  
  
  .searchOptions1-container {
    width: 19vw;
    height: 50vh;
    background-color: #1d3558;
  }
  .searchOptions2-container {
    width: 19vw;
    background-color: #ff5757;
  }
  .searchOptions3-container {
    width: 19vw;
    background-color: #fdab41;
  }
  .searchOptions4-container {
    width: 19vw;
    background-color: #1d3558;
  }
  
  @media all and (max-width:700px){
    
    .searchOptions li a{
      font-size: 15px;
    }
    .searchOptions ul span{
      font-size: 15px;
    }
  
    .searchOptions{
      display: inline-block;
      position: default;
    }
  
    .searchOptions1-container {
    position: absolute;
    width: 150px;
    height: 28.5vh;
    left: -340px;
  }
  .searchOptions2-container {
    position: absolute  ;
    width: 150px;
    height: 28.5vh;
    left: -340px;
    top: 28.5vh;
  
  }
  .searchOptions3-container {
    position: absolute;
    width: 150px;
    height: 28.5vh;
    left: -190px;
  }
  .searchOptions4-container {
    position: absolute;
    width: 150px;
    height: 28.5vh;
    left: -190px;
    top: 28.5vh;
  }
  
  }
  
  @media all and (max-width:416px){
    .searchOptions{
      right: -280px;
    }
  }
  
  .searchOptions li {
    list-style: none;
    margin: 0px;
  }
  .searchOptions a {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  .searchOptions a:hover {
    color: #1e6ca6;
  }
  .searchOptions ul {
    padding: 25px;
  }
  .testing {
    background-color: red;
  }
  .searchOptions1 span {
    color: white;
    font-size: 30px;
  }

/*--------------------------------------------------------------
# Hero Tabs Section
--------------------------------------------------------------*/

  .nav-menu .profile {
    position: fixed;
    right: 9%;
    top: -3px;
    font-size: 45px;
    
  }
  
  .nav-tabs .nav-link.active {
    /* background-color: #ff5757; */
    color: white;
    background-color: #1d3558;
    border: none;
    font-size: 20px;
  }
  .nav-tabs .nav-link {
    background-color: #ACD9FF;
    color: #1d3558;
    border: none;
    font-size: 20px;
    transition: all 0.2s ease-in;
    border-radius: 0;
    
  }
  
  @media all and (max-width: 768px){
    .nav-tabs
    {
        height: auto;
        display: flex;
        flex-direction: row;
        padding-bottom:1.99px ;
        font-size: 12px;
    }
  }
  
  @media all and (max-width: 487px)
  {
    .nav-tabs .nav-link
    {
        padding: 2px 2px 6px 2px;
        text-align: center;
        font-size: 12px;
        /* border-radius: 20px; */
    }
    .nav-tabs
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        padding-bottom:1.99px ;
    }
    .nav-tabs .nav-link.active
    {
        
        padding-bottom: 10px;
    }
    .nav-tabs
    {
      height: 40px;
    }
  
  
  
  }
  @media all and (max-width: 412px)
  {
    .nav-tabs .nav-link
    {
      padding: 2px 2px 12px 2px;
      text-align: center;
      /* border-radius: 20px; */
      font-size: 4.8vw;
    }
    .nav-tabs
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-bottom:1.99px ;
    }
    .nav-tabs .nav-link.active
    {
        padding-bottom: 10px;
    }
    .nav-tabs
    {
      height: 40px;
    }  
  } 
  
  .nav-tabs {
    margin-bottom: -2px;
  }
  
  .tab-content {
    /* background-color: purple; */
      transition: all 0.2s ease-in;   
  }
  
  .tab-content .tab-pane.active {
    background-color: #1d3558;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
      transition: all 0.2s ease-in;
  }
  
  .icon-boxes
  {
    width: 100%;
  }
 
  #hero .enter {
    border-radius: 20px;
    background-color: #FD9F9F ;
    height: 350px;
    width: 350px;
    transition: all 0.3s ease-in-out;
    margin: 20px;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
  }
  @media all and (max-width: 768px){
  
    .tab-content .tab-pane.active{
      padding: 0px 10px 0px 10px;
    }
  
    #hero .enter{
      width: 80%;
    }
    #hero .enter img{
      width: 100%;
    }
  }
  #hero .enter a {
    background-color: rgba(255, 255, 255, 0.51);
    color: #1d3558;
    padding: 5px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: fit-content;
  }
  #hero .enter:hover {
    transform: scale(1.05);
  }
  #hero .enter img {
    height: 100%;
    max-width: 100%;
    min-height: max-content;
    /* object-fit: cover; */
    border-radius: 20px;
  }
  
 /*--------------------------------------------------------------
  # Sub Header
  --------------------------------------------------------------*/

  #interest-title{
    /* background-color: #ff5757; */
    margin :0px;
    /* height: 80px; */
    padding: 0.215%;
  }
  .interest-feed{
    background-color: #ff5757;
    color: black;
    margin-top: 50px;
     width: 100%;
    padding: 5px;
    position: relative;
  }
  .interest-title-container{
    top: 50%;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
  }
  .interest-title-container button{
    border: none;
    background: none  ;
  }
  .interest-title-container a{
    color: black;
    text-decoration: none;
  }
  .interest-title-container h1{
    height: auto;
    font-size: 1.50rem;
    /* font-size: 1.77vw; */
    font-weight:bolder ;
    color:white;
  }
  span.feed-title{
    width: auto;
  }
  .interest-title-container button h2{
    font-size: 1.40rem;
    transition: all 1 ease-in;
    color:white;
  }
  .interest-title-container button h2:hover{
    color: #1d3558;
  }
  .interest-title-container input{
    border: none;
    font-family: "Advent Pro";
    font-size: 1.40rem;
    max-height: 35px;
    width: 23vw;
    /* align-self: center; */
  }
  .interest-title-container input:focus{
    outline: none;
  }
  
  @media all and (max-width: 768px){
    .interest-title-container h1{
      margin-top: 10px;
      /* font-size: 20px; */
    }
    .interest-title-container button h2{
      /* font-size: 1.5vw; */
    }
  }
  @media all and (max-width: 721px){
    .interest-title-container{
      display: block;
    }
    .interest-title-container input{
    width: 30vw;
  }
    .interest-title-container h1{
      font-size: 7vw;
    }
    .interest-title-container button h2{
      font-size: 4.5vw;
    }
  
  }
  
  @media all and (max-width: 412px){
    
    div.interest-actions{
      display: flex;
      justify-content: space-evenly;
    }
  
    .interest-feed{
      margin-right: 0px;
      margin-left: 0px;
    }
    .interest-title-container{
      margin-right: 0px;
      margin-left: 0px;
    }
    .interest-title-container input{
      font-size: 6vw;
    }
  }

  /*--------------------------------------------------------------
  # Host an Event
  --------------------------------------------------------------*/
  
  #host-an-event{
    background-color: #acd9ff;
    color: #001636;
    margin-top: 50px  ;
    padding: 20px;
    display: none;
    justify-content: space-evenly ;
      position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 10%;
    top: 3%;
    right: 10%;
    bottom:10%;
    width: 80%; /* Full width */
    height: auto !important; 
  }

  #host-an-event .event-details-des{
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  #host-an-event .event-details{
    display: flex;
  }
  #host-an-event .event-details-des{
    display: flex;
    margin-left: 13.25%;
    margin-bottom: 20px;
  }
  #host-an-event .event-details h2{
    padding: 15px 100px 15px 0;
  }

  .hostclose {
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    display: flex;
    /* margin-top: -70px; */
    font-size: 28px;
    color: red;
  }
 .hostclose a {
    font-size: 28px;
    color: red;
  }
  #host-an-event .host-an-event-container{
    margin: 0px;
    padding: 0;
    margin-left: 13.25%;
  }

  #host-an-event .host-table tr td
  {
    padding: 15px;
    font-size: 26px;
    color: #ff5757;
  }


  #host-an-event .host-table input{
    height: 40px;
    width: 35vw;
    margin-left: 17%;
    align-self: center;
    color:black;
    font-size: 22px;
  }

  #host-an-event .host-table input:focus{
    outline: none;
  }

  #host-an-event .host-table .submit-host
  {
      margin-left: 10%;
      height: 40px;
      background-color: #ff5757;
      color:white;
      width: 50%;
      border: none;
  } 
  

  @media (max-width:500px) 
  {
    #host-an-event .host-table td 
    {
      padding: 5px !important;
      font-size: 18px !important;
    }  

    #host-an-event .host-table input{
      height: 25px;
      margin-left: 10%;
      align-self: center;
      font-size: 12px;
    }
  }




  
  /*-----------------------------------------------------------------
  # Directory
  -------------------------------------------------------------*/
  #directorytable{
  
    background-color: #acd9ff;
    color: #001636;
    margin-top: 50px  ;
    padding: 5%;
    justify-content: space-evenly ;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 10%;
    top: 3%;
    right: 10%;
    bottom:10%;
    width: 80%; /* Full width */
    height: 80%;
  
  }
  
  #directorytable table
  {
    font-size: 22px;
    color: black;
    font-family: "Advent Pro";
    width: 100%;
    
  }
  
  #directorytable th
  {
    padding: 15px;
    background-color: #1d3558;
    text-align: center;
    color: white;
  }
  
  #directorytable td
  {
    padding: 10px;
    text-align: center;
  }
  
  #directorytable tr
  {
    font-size: 22px;
    color: black;
    font-family: "Advent Pro";
    justify-content: space-evenly ;
    margin-bottom  :3%;
  }
  #directorytable tr:hover
  {
    background-color: #ff5757;
  }
  
  #directorytable .tlevel:active
  {
    background-color: red;
  }
  
  #directorytable  .hostclose {
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    display: flex;
    /* margin-top: -70px; */
    font-size: 28px;
    color: red;
  }
  #directorytable  .hostclose a {
    font-size: 28px;
    color: red;
  }

  /*--------------------------------------------------------------
  # Feeds
  --------------------------------------------------------------*/
 .wrap
{
  color: black;
	margin: 15px auto;
	padding: 15px 10px;
	background: white;
	border: 2px solid #ff5757;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 20px;
    font-family: Advent Pro;
}
.wrap .title, .userName {
  font-weight:700;
}

.wrap .post {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.wrap .post .title{
  font-style:italic;
}
.wrap .post .body{
  margin-top:5px;
}

.wrap .wrap button{
  border-radius: 10px;
  border: none;
  background-color: #1d3558;
  color: white;
}
