<!DOCTYPE html>
<html>
<head>
	<title>Icream Shop</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>



<center>
	<h1>Kwality Wall’s</h1>

	<br>
	<h4>Today's Special</h4>
	<hr>
	<table>
	<thead>
		
	</thead>
	<tbody>
		<tr>
			<td><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/bucgqi18liyur5pyrkwg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Strawberry Ice Cream</h5>
    <p class="card-text">Rs. 79 /-</p>

    <a href="{% url 'cc:index' %}" class="btn btn-primary">Order Now</a>
  </div>
</div></td>
	<td><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://3.imimg.com/data3/KU/TF/MY-12125579/imported-ice-creams-500x500.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Chocolate</h5>
    <p class="card-text">Rs. 79 /-</p>

    <a href="{% url 'cc:index' %}" class="btn btn-primary">Order Now</a>
  </div>
</div></td>

	<td><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://st.depositphotos.com/1010050/2297/i/950/depositphotos_22978426-stock-photo-assorted-ice-cream.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Buttered Pecan</h5>
    <p class="card-text">Rs. 79 /-</p>

    <a href="{% url 'cc:index' %}" class="btn btn-primary">Order Now</a>
  </div>
</div></td>



		</tr>
	</tbody>
</table>
</center>


</body>
</html>